.raise-your-hand {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.jump {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY();
  }
}
